<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Password Javascript</title>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--Stylesheet-->
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body class="body-changePW" onload="changePassword()">
  <div>
   
    <form class="form-changePW" action="/auth/changepassword" method="POST">
      <h1>Change Password</h1>
      
      <label class="label-changePW" for="password">New Password</label>
      <input class="input-changePW" type="password" name="newPW" id="password" placeholder="Your placeholder here">
      <label class="label-changePW" for="cnfrm-password">Confirm Password</label>
      <input class="input-changePW" type="password" id="cnfrm-password" placeholder="Confirm password here">
      <p id="message"></p>
      <input type="submit" id="btn_changePW" value="SUBMIT"/>
    </form>
  </div>
   
    <!--Script-->
    <script src="../public/script/main.js"></script>
</body>
</html>